*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.button{
    display: flex;
    justify-content: center;
}

button{
    width: 10rem;
    height: 5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px 2px rgba(200, 202, 200, 0.722);
    border: none;
    transition: .3s;
}
button:hover{
    box-shadow: 5px 5px 10px 2px rgba(133, 130, 130, 0.722);
}

.heading{
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.5vw; */
}

h1{
    font-size: 2.5vw;
    text-align: center;
}

#dogImage{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#dogImage img{
    width: 30rem;
    height: 30rem;
}
